body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Light background color */
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 960px;
    max-height: 960px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.container div {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0; /* Lighter gray */
    margin: 0;
    flex-shrink: 0;
    border: 1px solid #ccc;
    transition: background-color 0.3s; /* Smooth transition on hover */
}



